<div id="bookshelf-sidebar">
    <div class="logo mb-3">
        <h2>
            RR
        </h2>
    </div>

    <div class="menu">
        <button class="btn btn-secondary mb-auto">
            <img src="/client/assets/icons/book.svg" alt="">
        </button>

        <button class="btn btn-secondary">
            <img src="/client/assets/icons/gear.svg" alt="">
        </button>

        <button class="btn btn-secondary mt-2">
            <img src="/client/assets/icons/power.svg" alt="">
        </button>
    </div>
</div>